<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>User Form</title>

</head>
<div id= "body" style="width:30%;
    font-size: 14px;
    text-align: center;
    background: #d0dcf4;
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    box-shadow: 0 3px 10px rgba(0, 0, 0.5);
    font-family: Bookman,sans-serif;
    padding: 20px 10px;
    border-style: ridge;
    border-width: 4px 4px 4px 4px;
    border-color: lightgray;
    border-radius: 10px;">
    <body class="w3-light-grey" >

    <h1>Hello, get started registration</h1>

    <a href="${pageContext.request.contextPath}/views/hello.jsp"><h3>Sign up</h3></a>
    </body>
</div>
</html>


